In [4]:
# Import dependencies
import pandas as pd
import numpy as np
from decimal import Decimal
from fractions import Fraction

In [5]:
macro_index_monthly= pd.read_csv("../../CleanedCSVs/Macro_withavgIndex.csv")
macro_index_monthly.head()

,Unnamed: 0,Date,DFF,Inflation_Rate,Average_Dow,Average_Nasdaq,Average_S&P
0,1,1/2/08,4.11,2.32,14547.08,2631.435,1447.160
1,2,1/3/08,4.25,2.33,14524.54,2607.540,1447.160
2,3,1/4/08,4.18,2.32,14154.51,2537.865,1411.630
3,6,1/7/08,4.27,2.29,14168.24,2506.280,1417.075
4,7,1/8/08,4.27,2.29,14048.90,2474.255,1406.170

In [18]:
macro_index_monthly.columns

Index(['Unnamed: 0', 'Date', 'DFF', 'Inflation_Rate', 'Average_Dow',
       'Average_Nasdaq', 'Average_S&P'],
      dtype='object')

In [19]:
macro_index_monthly['Date'] = pd.to_datetime(macro_index_monthly['Date'])
macro_index_monthly.set_index("Unnamed: 0", inplace=True)

In [22]:
macro_index_monthly = macro_index_monthly["Date"].resample('M').mean()
macro_index_monthly

TypeError: Only valid with DatetimeIndex, TimedeltaIndex or PeriodIndex, but got an instance of 'Int64Index'

In [12]:
macro_index_monthly = macro_index_monthly["Date"].astype("datetime64")

KeyError: 'Date'

In [22]:
macro_index_monthly.dtypes

dtype('<M8[ns]')

In [10]:
macro_index_monthly.drop(["Unnamed: 0"], axis=1)

,DFF,Open_Dow,High_Dow,Low_Dow,Close_Dow,Average_Dow,Open_Nasdaq,High_Nasdaq,Low_Nasdaq,Close_Nasdaq,Average_Nasdaq,Open_S&P,High_S&P,Low_S&P,Close_S&P,Average_S&P
Date,,,,,,,,,,,,,,,,
2008-01-31,3.931429,13826.768095,13986.832857,13648.503810,13811.948571,13819.358333,2420.179048,2449.856190,2388.196667,2418.093810,2419.136429,1375.257143,1395.710952,1362.579048,1378.764286,1377.010714
2008-02-29,2.962500,13668.049500,13774.261500,13528.939500,13645.789500,13656.919500,2330.816000,2349.606000,2306.143000,2325.825500,2328.320750,1356.833500,1367.420500,1343.409500,1354.872500,1355.853000
2008-03-31,2.629000,13222.735500,13358.870500,13062.013500,13216.991000,13219.863250,2255.159000,2279.226500,2229.026000,2254.818000,2254.988500,1318.443500,1330.844500,1301.625000,1316.943000,1317.693250
2008-04-30,2.267727,13740.050455,13851.001364,13658.522273,13769.449091,13754.749773,2365.988182,2382.953636,2348.808636,2368.099545,2367.043864,1369.419545,1378.381364,1360.087727,1370.469091,1369.944318
2008-05-31,1.993333,14134.397619,14225.435714,14056.384762,14146.892857,14140.645238,2479.896667,2499.207619,2462.494762,2483.240952,2481.568810,1401.985714,1411.055714,1394.579048,1403.217619,1402.601667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-04-30,4.830000,41088.055263,41285.715263,40897.402632,41130.394211,41109.224737,12061.777895,12136.522105,11985.898421,12073.464737,12067.621316,4116.750000,4136.134211,4098.431053,4121.467368,4119.108684
2023-05-31,5.045909,41326.580455,41491.027727,41094.580000,41301.977727,41314.279091,12432.775909,12506.890455,12367.496818,12446.530455,12439.653182,4148.415000,4164.636364,4125.516818,4146.173182,4147.294091
2023-06-30,5.075714,43257.300952,43518.686190,43135.063333,43374.481905,43315.891429,13431.256190,13535.291429,13364.032857,13463.777619,13447.516905,4333.590952,4359.732857,4321.860000,4345.372857,4339.481905
2023-07-31,5.117000,45066.312000,45245.013000,44934.231000,45093.234000,45079.773000,14034.406000,14109.284000,13961.391500,14033.091000,14033.748500,4505.382500,4523.726000,4492.960000,4508.075500,4506.729000
2023-08-31,5.330000,44644.511250,44818.411250,44387.943750,44558.398125,44601.454688,13758.872500,13828.281875,13655.093125,13725.942500,13742.407500,4468.413750,4485.803125,4442.783125,4459.234375,4463.824062

In [13]:
CPI= pd.read_csv("../../csv/CPIAUCSL_Monthly.csv")
CPI.head()

     Date  CPIAUCSL
0  1/1/08   212.174
1  2/1/08   212.687
2  3/1/08   213.448
3  4/1/08   213.942
4  5/1/08   215.208

AttributeError: Can only use .dt accessor with datetimelike values